{% extends "base.html" %}

{% block title %}Data Analysis - Instacart{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Data Analysis</h1>
    <p class="lead">Select an analysis to view results:</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="/analysis/hypothesis1">Hypothesis 1</a></li>
        <li class="list-group-item"><a href="/analysis/hypothesis2">Hypothesis 2</a></li>
        <li class="list-group-item"><a href="/analysis/hypothesis3">Hypothesis 3</a></li>
        <li class="list-group-item"><a href="/analysis/hypothesis4">Hypothesis 4</a></li>
        <li class="list-group-item"><a href="/analysis/hypothesis5">Hypothesis 5</a></li>
    </ul>
</div>
{% endblock %}
